assets/
node_modules/
scripts/
dev/
tests/
src/
.gitignore
.npmignore
.prettierrc.yaml
.prettierignore
eslint.config.js
pnpm-lock.yaml
prettier.config.js
prod.tsconfig.json
tsconfig.json
tsdown.config.ts
*.tgz
.env