@import 'tailwindcss';
@import './fonts.css';
@import './githubMarkdownDark.css';

@theme {
  /* Breakpoints */
  --breakpoint-mobile: 0px;
  --breakpoint-mobile-md: 320px;
  --breakpoint-mobile-lg: 375px;
  --breakpoint-tablet: 425px;
  --breakpoint-tablet-md: 600px;
  --breakpoint-tablet-lg: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-lg: 1366px;
  --breakpoint-desktop: 1440px;
  --breakpoint-hd: 1290px;

  /* Colors */
  --color-default-white: #9e9e9e;
  --color-default-black: #0a0a0a;

  /* Fonts */
  --font-pentatonic: 'Pentatonic', sans-serif;
  --font-pentatonicalt: 'Pentatonic Alt', sans-serif;
  --font-open: 'Open Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;

  /* Animations */
  --animate-move-pattern: movePattern 48s linear infinite;
  @keyframes movePattern {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

@utility w-fill {
  width: -webkit-fill-available;
}

@utility max-w-fill {
  max-width: -webkit-fill-available;
}

@utility h-fill {
  height: -webkit-fill-available;
}

@utility max-h-fill {
  max-height: -webkit-fill-available;
}

* {
  outline: none;
  line-height: 1.2;
  scrollbar-color: #333 #0f0f0f;
}

body {
  @apply text-default-white font-open relative h-screen w-full overflow-hidden bg-transparent text-sm select-none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply h-full max-h-full w-full max-w-full;
}

div,
header,
footer,
section,
main,
button {
  @apply relative flex flex-col;
}

button {
  @apply cursor-default uppercase;
}

h1,
button {
  @apply font-pentatonic;
}

#Topbar {
  @apply font-sans text-xs;
  -webkit-app-region: drag;

  button {
    -webkit-app-region: no-drag;
  }
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  @apply select-text;
}

button {
  @apply select-none;
}
